.card {
    max-width: 400px;
    margin-top: 15%;
}

.text-field {
    margin: 10px;
}

.button-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    margin: 10px;
    display: flex;
    justify-content: center;
}